body{
    display:flex;
    flex-direction:column;
    font-family: "Google Sans";
}

.product-main{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content:center;
}

.product-nav{
    display:flex;
    justify-content:center;
}

.product-nav input{
    width:50vw;
    padding: 5px 20px;
    border-radius:16px;
    font-size:18px;
}
img{
    width:150px;
    height:150px;
    object-fit:cover;
}

h1{
    font-size:18px;
    font-weight:500;
}